@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

main, footer {
    margin: 0 auto;
    max-width: 1000px;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    align-items: center;
    background-color: #eee;
} 

.logo {
    width: 50vw;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-bar {
    font-weight: 400;
    margin: 0 20px 0 auto ;
}

nav ul {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.nav-link, .footer-links {
    text-decoration: none;
    color: black;
}

#form-section {
    margin-top: 75px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#form h2 {
    margin-bottom: 20px;
}

#form input[type="email"] {
    width: 100%;
    max-width: 275px;
    padding: 5px;
}

#form input[type="submit"] {
    width: 100%;
    max-width: 150px;
    height: 30px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 900;
}

.btn {
    background-color: #FF9505;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px 0;
    padding: 0 20px;
    border-radius: 2px;
    height: 40px;
    font-size: 1rem;
}

.btn:hover {
    background-color: #EC4E20;
    transition: background-color 1s;
}

#features {
    padding-top: 75px;
}

#features .grid {
    display: flex;
}

#features .icon {
    height: 125px;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#features .description {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.icon i {
    color: #EC4E20;
}

#video-shoes {
    display: flex;
    justify-content: center;
    margin: 75px 0;
}

#video-shoes video {
    width: 100%;
    max-width: 720px;
}

#shoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.box-shoes {
    width: calc(100%/3);
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

.box-shoes header {
    background-color: #ddd;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
}

.box-shoes h2 {
    margin-top: 15px;
}

.box-shoes ol {
    margin: 15px 0;
}

.box-shoes ol li {
    list-style: none;
    padding: 5px 0;
    font-size: 0.9em;
}

footer {
    background-color: #ddd;
    padding: 20px;
    margin-top: 30px;
    border-radius: 16px 16px 0 0;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

footer ul li {
    padding: 0 10px;
}

footer span {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    padding-right: 10px;
    font-size: 0.9em;
    color: #444;
}

@media (max-width: 800px) {
    #shoes {
        flex-direction: column;
    }
    
    .box-shoes {
        max-width: 300px;
        width: 100%;
        margin: 0 auto 10px auto;
    }
}

@media (max-width: 650px) {
    .logo {
        width: 100%;
        position: relative;
        margin: 0 auto;
        justify-content: center;
      }
    
    #nav-bar {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    #nav-bar > ul {
        flex-direction: column;
    }

    #form-section {
        margin-top: 120px;
    }

    #features {
        margin-top: 0;
        padding-top: 0;
    }
}

@media (max-width: 600px) {
    #header {
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }

    #features .description {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}